* {
    box-sizing: border-box;
}

.center-max-size {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
}
/* CAROUSEL */
.wrapper {
	position: relative;
	height: 100vh;
}
.nav-area {
	position: absolute;
	z-index: 2;
    margin: 1rem 2rem;
}
.icon-search{
    margin-left: -3rem;
    margin-top: 0.6rem;
}
.search_group{
    display: flex;
}
.search-bar{
    background-color: rgba(23, 20, 20, 0.52);
    width: 30rem;
    border-radius: 30px;
    margin-left: 10rem;
}
.search-result{
    padding: 1rem 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.search-bar:hover {
    border-color: #e7394b;
}
.navbar-right{
    margin-left: 15rem;
}
.button-login {
    background-color: rgba(23, 20, 20, 0.52);
    border-radius: 30px;
    color: #e7394b;
    padding: 0.5rem;
    width: 7rem;
    border-color: #e7394b;
    margin-right: 1rem;
}
.button-login:hover{
    color: #e86a76;
    border-color: #e86a76;
}
.button-reg {
    background-color: #e7394b;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 0.5rem;
    width: 7rem;
}
.button-reg:hover{
    background-color: #e86a76;
}
.button-watch {
    background-color: #e7394b;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 0.5rem;
    width: 12rem;
}

.button-watch:hover {
    background-color: #e86a76;
}

.caption {
    margin-bottom: 10rem;
    margin-left: -10rem;
    width: 50rem;
}
.car-title {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.car-text {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.img-carousel {
    height: 100vh;
    filter: brightness(50%);
}
.popular {
    margin-top: 60px;
    margin-left: 4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.popular-group{
    justify-content: space-between;
}
.btn-seeAll{
    border: none;
    color: #e7394b;
    background: none;
    margin-top: 3rem;
    margin-left: 62rem;
    font-size: 1.2rem;
}
.btn-seeAll :hover{
    color: #e86a76;
}
.swiper-list{
    margin-bottom: 4rem;
    margin-top: 2.5rem;
    margin-left: 10rem;
}

.poster-content {
    width: 100%;
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

/*-- MOVIE */

.movie {
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.movie img {
    height: 450px;
    max-width: 100%;
    border-radius: 5%;
}

.movie-infos {
    padding: 15px 0;
}

.movie-title {
    margin: 0;
}

.movie-voting {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #0F1014;
    border: 1px solid gray;
    padding: 10px;
    font-size: 12px;
    border-radius: 25px;
}

/* DETAILS */
.text-detail {
    z-index: 2;
    padding: 15rem 0 15rem 2rem;
    margin-top: -700px;
    color: white;
}
.vote_average {
    display: flex;
    gap: 0.5rem;
}
.genre_item {
    display: flex;
    gap: 0.5rem;
    border: #0F1014 1px;
}
.cast_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: -3rem;
    padding: 1rem;
    margin-left: 3rem;
}
.img_cast{
    width: 220px;
    height: 350px;
}

/* All Movies */
.AllMovies-Text{
    margin-top: 14rem;
    margin-left: 4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.All-movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2.5rem;
    padding: 2rem;
    justify-content: center;
}

/* Footer */
.footer_style{
    background-color: rgb(238, 241, 246);
    padding: 4rem;
}
.logo_socmed{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.logo_socmed a{
    text-decoration: none;
    color: #e7394b;
}
.logo_socmed a:hover {
    color: #e86a76;
}
.footer_text{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}
.footer_text a{
    text-decoration: none;
    color: #0F1014;
}
.footer_text a:hover {
    color: #e86a76;
}