* {
    box-sizing: border-box;
}

.center-max-size {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar */
nav {
    background-color: #171715;
    max-width: 100%;
}
.nav-button{
    background-color: transparent;
    border: none;
}
.button-search{
    background-color: rgba(61, 61, 61, 0.52);
    border-radius: 100%;
    color: white;
    padding: 0.5rem;
    border: none;
}
.button-search:hover{
    color: white;
    background-color:red;
}
.button-login {
    background-color: rgba(61, 61, 61, 0.52);
    border-radius: 30px;
    color: white;
    width: 4rem;
    border: none;
}
.button-login:hover{
    color: white;
    background-color:red;
}
.login_modal{
    display: flex;
    margin: 1rem 0;
}
.google_login{
    margin-left: -25rem;
    margin-top: -0.5rem;
}

/* Search */
.icon-search{
    margin-left: -2rem;
    margin-top: 0.6rem;
    filter: brightness(70%);
}
.search_group{
    display: flex;
}
.search-bar{
    width: 100%;
    border-radius: 30px;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

/* CAROUSEL */
.wrapper {
	position: relative;
	height: 85vh;
}

.search-result{
    padding: 1rem 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.navbar-changed{
    margin-left: 19rem;
}
.img-ava{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}
.name-ava{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown-style{
    border: none;
    outline: none;
    background: none;
}
.dropdown-toggle::after {
    display: none;
  }
.button-watch {
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 0.5rem;
    width: 10rem;
}

.button-watch:hover {
    background-color: white;
    color: black;
}

.caption {
    margin-bottom: 10rem;
    margin-left: -10rem;
    width: 50rem;
}
.car-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.car-text {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}
.img-carousel {
    height: 100vh;
    width: 100%;
    filter: brightness(50%);
}
.popular {
    margin-top: 170px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.popular-group{
    justify-content: space-between;
    gap: 2rem;
}
.movie-poster{
    width: 300px;
}
.movie-card{
    background-color: transparent;
    border-color: red;
    width: 320px;
}
.movie-card:hover{
    border-color: white;
}
.title_card{
    max-height: 25px;
}
.btn-seeAll{
    border: none;
    color: white;
    background: none;
    margin-top: 3rem;
    margin-left: 65rem;
    font-size: 1.2rem;
}
.genre_list{
    width: 132px;
    padding: 0.3rem;
    background: transparent;
    color: white;
    font-size: 0.8rem;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}
.genre_list:hover{
    background: white;
    border: 1px solid gray;
    color: black;
}
.swiper-list{
    margin-bottom: 4rem;
    margin-top: 2.5rem;
    margin-left: 10rem;
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

/*-- MOVIE */
.movie {
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.movie img {
    height: 300px;
    max-width: 100%;
    border-radius: 5%;
}

.movie-infos {
    padding: 15px 0;
}

.movie-title {
    margin: 0;
}

.movie-voting {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #0F1014;
    border: 1px solid gray;
    padding: 10px;
    font-size: 12px;
    border-radius: 25px;
}

/* DETAILS */
.text-detail {
    padding: 2rem;
    margin-top: 5rem;
}
.image-details{
    padding: 2rem;
    margin: 5rem 2rem 1rem;
    width: 100%;
    height: 80vh;
}
.vote_average {
    display: flex;
    gap: 0.5rem;
    color: white;
}

/* Genre */
.button-genre{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
}
.genre_item {
    color: white;
    display: flex;
    gap: 0.5rem;
    /* border: #0F1014 1px; */
}
.details-overview{
    width: 70%;
    color: white;
    text-align: justify;
}

/* Cast */
.img_cast{
    width: 270px;
    height: 330px;
}
.card-cast{
    background-color: transparent;
    border-color: red;
    width: 300px;
}
.card-cast:hover{
    border-color: white;
}

/* All Movies */
.AllMovies-Text{
    margin-top: 5rem;
    margin-left: 3rem;
    padding: 1rem 0rem;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.All-movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    margin-left: 2rem;
    /* column-gap: 2rem; */
    padding: 2rem;
    justify-content: center;
}

/* Footer */
.footer_style{
    background-color: rgb(238, 241, 246);
    padding: 4rem;
}
.logo_socmed{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.logo_socmed a{
    text-decoration: none;
    color: white;
}
.logo_socmed a:hover {
    color: burlywood;
}
.footer_text{
    display: flex;
    justify-content: center;
    color: white;
    gap: 2rem;
    margin: 1rem;
}
.footer_text a{
    text-decoration: none;
    color: white;
}
.footer_text a:hover {
    color: burlywood;
}

@media screen AND (max-width: 600px) {
    /* Navbar */
    nav {
        max-width: 600px;
    }
    /* Carousel */
    .img-carousel {
        height: 100vh;
        max-width: 600px;
        filter: brightness(50%);
        object-fit: cover;
    }
    .caption {
        margin-left: 0rem;
    }
    .car-title {
        max-width: 250px;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .car-text {
        max-width: 280px;
        max-height: 300px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        text-align: justify;
    }
    /* All Movies */
    .All-movies{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 1.5rem;
    }
    .movie-poster{
        width: 150px;
    }
    .movie-card{
        background-color: transparent;
        border-color: red;
        width: 170px;
    }
    .title_card{
       min-height: 45px;
    }
    .popular {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    /* Details */
    /* .containers{
        min-width: 600px;
    } */
    .image-details{
        width: 20rem;
        height: 30rem;
        margin-right: 2rem;
    }
    .text-detail {
        padding: 2rem;
    }
    .vote_average {
        display: flex;
        gap: 0.5rem;
        color: white;
    }
    .details-overview{
        width: 110%;
        color: white;
        text-align: justify;
    }
    /* Cast */
    .img_cast{
        width: 150px;
        height: 250px;
    }
    .card-cast{
        background-color: transparent;
        border-color: red;
        width: 180px;
    }
    .card-cast:hover{
        border-color: white;
    }
  }